// Colors
$main-color: #fc6d41;
$alt-color: #0098d0;
$text-color: #878c8e;
$meta-color: #adb6b9;
$heading-color: #404648;
$nav-color: #8c9598;
$bg-light: #f2f4f5;
$bg-dark: #1b1c1f;
$border-color: #ebeeef;
$border-dark-color: #26282d;


// Fonts
$body-font: 'Georgia', serif;
$heading-font: 'Open Sans', sans-serif;


// Navbar
$nav-height: 50px;