@model HaberSepeti.Data.Entities.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container container mt-40" id="main-container">
    <!-- Content -->
    <div class="row">
        <!-- Posts -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <header class="panel-heading">@ViewBag.Title</header>
                        <div class="panel-body">
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "comment-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                @Html.HiddenFor(x => x.Id)

                                <div class="form-group">
                                    <label for="kategoriUrl">Eski Sifreniz</label>
                                    <input type="text" class="form-control" placeholder="Eski şifreniz" name="oldPassword">
                                </div>
                                <div class="form-group">
                                    <label for="kategoriUrl">Yeni şifreniz</label>
                                    <input type="text" class="form-control" placeholder="Yeni şifreniz" name="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="kategoriUrl">Yeni şifreniz tekrar</label>
                                    <input type="text" class="form-control" placeholder="Yeni şifreniz tekrar" name="newPasswordAgain">
                                </div>

                                <button type="submit" class="btn btn-default">Değiştir</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end posts -->
        <!-- Sidebar -->

    </div>
    <!-- end content -->
</div>