
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Statistics panels -->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>NEW USERS</small><br>46342</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat panel-alt bg-purple">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-shade pull-left"><i class="typcn typcn-gift"></i></div>
                        <div class="stat-info pull-left"><h4><small>NEW GIFTS</small><br>1000</h4></div>
                        <span class="typcn typcn-plus pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-red pull-left"><i class="typcn typcn-clipboard"></i></div>
                        <div class="stat-info pull-left"><h4><small>PENDING ORDERS</small><br>43</h4></div>
                        <span class="typcn typcn-arrow-down pull-right text-red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-green pull-left"><i class="typcn typcn-chart-bar"></i></div>
                        <div class="stat-info pull-left"><h4><small>WITH CHART</small><br>$10.500</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Statistics panels -->
</div>
