@using (Html.BeginForm("Arama","Default",FormMethod.Post,new { enctype="multipart/form-data" }))
{
    <div class="card my-4">
        <h5 class="card-header">Ara</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" id="Ara" name="Ara" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" value="Ara" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </div>
}

