<footer class="footer footer--dark">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="widget">
                        <a href="">
                            <img src="~/img/logo_mobile.png" srcset="img/logo_mobile.png 1x, img/logo_mobile@2x.png 2x" class="logo__img" alt="">
                        </a>
                        <p class="mt-20">Tüm dünyada olup bitenlerden haberdar olun diye varız.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="widget widget__newsletter">
                        <h4 class="widget-title">Bizi takip edin</h4>

                        <div class="socials mb-20">
                            <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                            <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                            <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                            <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                            <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Önemli linkler</h4>
                        <ul>
                            <li><a href="">Giriş yap</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 order-lg-1 text-md-center">
                    <span class="copyright">
                        &copy; @DateTime.Now.Year
                    </span>
                </div>
            </div>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->
