<nav class="header-site">
    <div class="container-fluid">
        <!-- Page title and breadcrumb navigation -->
        <div class="page-title">
            <h4><a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a> <span>Haber Sepeti - Yönetim Sayfası</span></h4>
            <nav>
                <a href="@Url.Action("Index","Home")">Anasayfa</a>
                <span class="typcn typcn-chevron-right"></span>
                <a href="#">@ViewBag.Title</a>
            </nav>
        </div>
        <!-- /Page title and breadcrumb navigation -->
        <!-- Header navigation / icons -->
        <ul class="header-nav navbar-right">
            <!-- Profile -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="placeholders/avatar.jpg" alt="User avatar"></a>
                <ul class="dropdown-menu dropdown-arrow pull-right">
                    <li><a href="#"><span class="typcn typcn-edit"></span> Edit profile</a></li>
                    <li><a href="#"><span class="typcn typcn-cog"></span> Settings</a></li>
                    <li><a href="#"><span class="typcn typcn-contacts"></span> Contacts</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="typcn typcn-power"></span> Sign out</a></li>
                </ul>
            </li>
            <!-- /Profile -->
        </ul>
        <!-- /Header navigation / icons -->
    </div>
</nav>
