<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from karlomikus.com/saltkin/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Apr 2016 14:51:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <link href="~/Content/typicons.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- iCheck - Custom radio/check input -->
    <link href="~/Content/icheck/minimal.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Footable plugin -->
    <link href="~/Content/plugins.min.css" rel="stylesheet">
    <!-- Template -->
    <link href="~/Content/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/plugins/shiv.min.js"></script>
      <script src="js/plugins/respond.min.js"></script>
      <script src="js/plugins/excanvas.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Page container -->
    <div class="page-container">
        <!-- Sidebar -->
        @Html.Partial("_Sidebar")
        <!-- /Sidebar -->
        <!-- Content -->
        <div id="content">
            <!-- Header -->
            @Html.Partial("_Header")
            <!-- /Header -->
            <!-- Content start -->
            @RenderBody()
        </div>
        <!-- /Content -->
    </div>
    <!-- /Page container -->
    <!-- PLUGINS ALL -->
    <script src="~/Scripts/plugins/jquery.min.js"></script>
    <script src="~/Scripts/plugins/modernizr.min.js"></script>
    <!-- Bootstrap core -->
    <script src="~/Scripts/plugins/bootstrap.min.js"></script>
    <!-- Custom scrollbar -->
    <script src="~/Scripts/plugins/enscroll.min.js"></script>
    <!-- Dynamic tables -->
    <script src="~/Scripts/plugins/footable.min.js"></script>
    <!-- Knob / Donut charts -->
    <script src="~/Scripts/plugins/knob.min.js"></script>
    <!-- Rickshaw graphs & charts -->
    <script src="~/Scripts/plugins/sparkline.min.js"></script>
    <script src="~/Scripts/plugins/rickshaw/d3.v3.js"></script>
    <script src="~/Scripts/plugins/rickshaw/rickshaw.min.js"></script>
    <!-- Flot -->
    <script src="~/Scripts/plugins/flot.min.js"></script>
    <!-- Custom checkboxes and radio input -->
    <script src="~/Scripts/plugins/icheck.min.js"></script>
    <!-- Page specific -->
    <script src="~/Scripts/page-dashboard.js"></script>
    <!-- Site -->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/Global.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
</body>
</html>