@model IEnumerable<HaberSepeti.Data.Model.Kategori>
@{
    Layout = null;
}

<div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    @foreach (var item in Model)
                    {
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">@item.Ad</a>
                            </li>                          
                        </ul>
                    }
                </div>             
            </div>
        </div>
    </div>