@model List<HaberSepeti.Data.Entities.Tag>
@{
    Layout = null;
}

<div class="widget widget_tag_cloud">
    <h4 class="widget-title">Etiketler</h4>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ListByTag","Default", new {tagName=item.Name})">@item.Name</a>
        }
    </div>
</div>
